* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1900px;
  margin: 0rem 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.my-toast-body {
  font-size: 20px;
  width: 700px;
  /* margin-top: 8rem; */
}
.my-toast-animation {
  animation: my-toast-animation 0.5s ease-out;
}

/* Styles for screens larger than 1024px (laptop) */
@media (min-width: 1840px) {
  #root {
    margin: 0 5rem;
  }
}


